* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #1d2026;
    color: white;
}
/* Navigation Bar */
nav {
    display: flex;
    background-color: black;
    justify-content: space-around;
    padding: 15px 5%;
    box-shadow: 0 0 4px -2px rgb(255, 255, 255);
}
nav .main-logo img{
    width: 250px;
}
nav .main-logo img:hover{
    width: 250px;
    pointer-events: stroke;
}
nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
    align-items: center;    
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
}
nav ul li a:hover {
    color: rgb(106, 255, 135);
}
/* Index Main Text */
.header {
    min-height: 100vh;
    width: 100%;
    background-image: url('../resources/home-image.png');
    background-position: center;
    background-size: cover;
    position: relative;
}
.index-main-text-container {
    max-width: 600px;
    margin-left: 50%;
}
.index-main-text-container h1 {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    line-height: 75px;
    padding-top: 25%;
}
.index-main-text-container p {
    margin-top: 30px;
}
.index-main-text-container a {
    text-decoration: none;
    background: rgb(106, 255, 135);
    padding: 14px 40px;
    display: inline-block;
    color: white;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 30px;
}
.index-main-image-container {
    position: absolute;
    left: 22%;
    width: 300px;
    margin-top: 7%;
}
.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.course h1 {
    font-size: 36px;
    font-weight: 600;
}
.course p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.course-row {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.course-col {
    flex-basis: 31%;
    background: white;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    color: black;
    transition: 0.5s;
}
.course-col h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(106, 255, 135, 0.5);
}
/* Profile */
/* Main Text */
.introduction h2 {
    margin-top: 100px;
    text-align: center;
}
.introduction h4 {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 300;
}
/* Education */
.edu-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.edu-title {
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}
.edu-timeline {
    width: 80%;
    height: auto;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}
.edu-timeline ul {
    list-style: none;
}
.edu-timeline ul li {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}
.edu-timeline ul li:last-child {
    margin-bottom: 0px;
}
.edu-timeline-content h1 {
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 4px;
    color: black;
}
.edu-timeline-content p {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 0;
    color: black;
}
.edu-timeline-content .edu-date {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    color: rgb(106, 255, 135);
}
@media only screen and (min-width: 768px) {
    .edu-timeline::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        background-color: rgb(106, 255, 135);
        left: 50%;
        transform: translate(-50%);
    }
    .edu-timeline ul li {
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }
    .edu-timeline ul li:nth-child(odd) {
        float: left;
        clear: right;
        transform: translateX(-30px);
    }
    .edu-timeline ul li:nth-child(even) {
        float: right;
        clear: left;
        transform: translateX(30px);
    }
    .edu-timeline ul li::after {
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: rgb(106, 255, 135);
        border-radius: 50%;
        top: 0;
    }
    .edu-timeline ul li:nth-child(odd)::after {
        right: -40px;
        transform: translateX(50%, -50%);
    }
    .edu-timeline ul li:nth-child(even)::after {
        left: -40px;
        transform: translateX(-50%, -50%);
    }
    .edu-timeline ul li:hover::after {
        background-color: white;
    }
    .edu-timeline-content .edu-date {
        position: absolute;
        top: -30px;
    }
}
/* Organization */
.org-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.org-title {
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}
.org-timeline {
    width: 80%;
    height: auto;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}
.org-timeline ul {
    list-style: none;
}
.org-timeline ul li {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}
.org-timeline ul li:last-child {
    margin-bottom: 0px;
}
.org-timeline-content h1 {
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 4px;
    color: black;
}
.org-timeline-content p {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 0;
    color: black;
}
.org-timeline-content .org-date {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    color: rgb(106, 255, 135);
}
@media only screen and (min-width: 768px) {
    .org-timeline::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        background-color: rgb(106, 255, 135);
        left: 50%;
        transform: translate(-50%);
    }
    .org-timeline ul li {
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }
    .org-timeline ul li:nth-child(odd) {
        float: left;
        clear: right;
        transform: translateX(-30px);
    }
    .org-timeline ul li:nth-child(even) {
        float: right;
        clear: left;
        transform: translateX(30px);
    }
    .org-timeline ul li::after {
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: rgb(106, 255, 135);
        border-radius: 50%;
        top: 0;
    }
    .org-timeline ul li:nth-child(odd)::after {
        right: -40px;
        transform: translateX(50%, -50%);
    }
    .org-timeline ul li:nth-child(even)::after {
        left: -40px;
        transform: translateX(-50%, -50%);
    }
    .org-timeline ul li:hover::after {
        background-color: white;
    }
    .org-timeline-content .org-date {
        position: absolute;
        top: -30px;
    }
}